# General
/Library/*
# pidb files are only for code completion caching data according to:
# http://stackoverflow.com/questions/1022111/what-are-monodevelops-pidb-files
*.pidb
*.userprefs
/Temp/*
/Logs/*
/UserSettings/*

# Visual Studio & its tools
*.sln
*.suo
*.csproj
*.unityproj
/[Oo]bj/*
*.DotSettings
*.vs
*.vscode
*.vsconfig

#Custom
/Builds/*
/DontCommit/*
/Assets/DontCommit*
/Assets/ShareInputSystemDevice*

# LFS
*.wav
*.exr
*.ogg
*.png
*.tif
*.aif
*.fbx
/Assets/_Tanks/Art/Fonts/*
/Assets/_Tanks/Settings/TextMesh Pro/*
